@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  /* #quote{} */

  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }

  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  .time-block{
    text-align: center;
    border-radius: 15px;
  }

  .col-md-8{
    padding-right: 0px;
    padding-left: 0px;
  }

  .event{
    white-space: pre-wrap;
  }
  
  textarea{
    background: transparent;
    height: 100%;
    width:100%;
    border: none;
    resize: none;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    height: 100%;
    width:100%;
  }
  
  .saveBtn i:hover {
    font-size: 35px;
    transition: all .3s ease-in-out;
  }
  
  .past {
    background-color: lightgreen;
    color: white;
  }
  
  .present {
    background-color: lightpink;
    color: white;
  }
  
  .future {
    background-color: lightblue;
    color: white;
  }
  
  
  